html{
    font-size: 22px
}
body{
    background-image: url(background.jpg);
}
table,tr,th,td,caption{
    border: 1px solid  #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}